/* Global */

/* Style the scrollbar itself (width, background) */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

/* Style the track of the scrollbar */
::-webkit-scrollbar-track {
  background: #1f1e22; /* Light grey track */
}

/* Style the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* Dark grey thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Change the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker shade on hover */
}

/* End of Global */

/* Nav Bar */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1f1e22;
  color:white;
}

.navbar {
  background-color: #0d0d13;
  overflow: hidden;
  margin-bottom: 45px;
  position: sticky;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 40px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #454453;
  color: white;
}
/* End of Nav Bar */



/* Resetting default styles */
header {
  text-align: center;
  margin-bottom: 30px;
}

.feature {
  display: flex;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color:black;
}

.feature-image {
  flex: 1;
  min-width: 200px;
}

.feature-image img {
  width: 100%;
  height: auto;
  display: block;
}

.feature-content {
  flex: 2;
  padding: 20px;
}

.feature-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature-content p {
  font-size: 16px;
  margin-bottom: 15px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}
